:root {--bd-gradient: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7));}
ul{
    list-style-type: none;
    /* padding-bottom: 20px; */
}


.listLayout{
        /* display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-left: 0; */
                
display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 16px; */
    /* border-bottom: 1px solid #2a363b; */
        padding-left: 0;
            margin-bottom: 0;
            margin-top: 0;
           
   
}



.h1 {
    margin: 40px auto;
    /* margin-bottom: 40px; */

    text-align: center;

}
.textLayout{
    margin: 0;
}
@media screen and (min-width: 768px) {
.textLayout {}
}

@media screen and (min-width: 1440px) {
    .textLayout {}
}


.spanWelcome{
/* font-weight: 500px;
font-size: 18px;
text-align: 'center';
 margin-left: 380px; */}

@media screen and (min-width: 768px) {.spanWelcome {}
}
    @media screen and (min-width: 1440px) {.spanWelcome {
        
    }
    }


.itemRegister{
        /* position: absolute; */
            top: 16px;
                right: 20px;
   
}
@media screen and (min-width: 768px) {
    .itemRegister { padding-bottom: 20px;
    padding-top: 20px;}
}

@media screen and (min-width: 1440px) {
    .itemRegister {}
}





    .circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 10px;
            /* margin-left: 30px; */
            /* Makes it a circle */
            background-color: rgb(16, 211, 104);
            /* Change to your preferred color */
    
        }
 @media screen and (min-width: 768px) {

    .circle {}
 }

 @media screen and (min-width: 1440px) {
    .circle {
         margin-left: 30px; 
    }
 }






        .itemWelKome{ 
/* display: flex;
align-items: center;
gap:245px; */
 margin-right: auto;
margin-top: 3px;

        }

@media screen and (min-width: 768px) {
 .itemWelKome {

 display: flex;
align-items: center;
margin:0 40px;
/* gap:20px; */
flex-direction: column;
margin-left: 80px;
                            /* align-items: center; */
                            /* gap: 245px; */
                    
                        }

                   
                 }
        
  @media screen and (min-width: 1440px) {
 .itemWelKome {
    display: block;
    flex-direction: row;
    margin-left: 390px;
   /* margin: 0 161px; */
     gap: 178px;}
         
                 }
   
          
 .divLogout{
  position: absolute; 
/* display: flex; */



top:24px;
    right:129px
        }
@media screen and (min-width: 768px) {
    .divLogout {
        /* position: static; */
        top: 16px;
            right: 129px;
    }}
@media screen and (min-width: 1440px) {
    .divLogout {
        /* position: relative; */

    }
}

.email{
    margin-right: 20px;
 }

 .active-home{
   
    position: absolute;
        display: flex;
        align-items: center;
        margin: 0;
        top: 16px;
        left: 360px;
 }
.logout{
   
}
            
        
   


              