 :root {--bd-gradient:linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7));}
.h1 {
padding-top: 350px;
margin-bottom: 40px;
text-align: center;
color:white;
margin-top: 0;
}
.h2{
color: white;
text-align: center;
width: 800px;
margin: 0 auto;
}
/* .h{
    text-align: center;
        padding-left: 200px;
            padding-right: 200px;
} */
    
.mainHome{
    background-color: dimgray;
    height: 1000px;
    background-repeat: no-repeat;
        max-width: 1440px;
        background-position: center;
        background-size: cover;
    background-image:var(--bd-gradient), url("https://pixabay.com/get/g3a62c151ff35eb64ceb82a207355fee099d724eb928c61b710d051d257e4046ca31df63c9d323825ac4c0972bb13f8b62ae07aa1bd9067bc0fdda027121cd01d_1280.jpg");
}  