.item{
    display: flex;
    gap:5px;
    align-items: center;
    list-style-type: circle;
    justify-content: space-between;
    background-color: white;
        border: 0.5px solid black;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 3px 3px;
}

@media screen and (min-width: 768px) {
    .item {

        gap: 20px;

    }
}

@media screen and (min-width: 1440px) {
    .item {}
}


.btnClose{
     max-width: 50px; 

    border-radius: 5px;
    border: 0.5px solid rgb(144, 144, 226);
    background-color: rgb(144, 144, 226);

    padding: 10px 8px;
         line-height: 1;

}

@media screen and (min-width: 768px) {
    .btnClose {
        margin-bottom: 0;
        width: 110px;
        padding: 8px 0;
    }
}

@media screen and (min-width: 1440px) {
    .btnClose {
           
    }
}



.btnClose:focus {
    /* background-color: rgb(103, 103, 238); */
    background-color:rgb(21, 104, 8);
}


/* .btnSaveEdit {
    max-width: 50px;

    border-radius: 5px;
    border: 0.5px solid rgb(144, 144, 226);
    background-color: rgb(144, 144, 226);

    padding: 10px 8px;
    line-height: 1;

}

@media screen and (min-width: 768px) {
    .btnSaveEdit {
        margin-bottom: 0;
        width: 110px;
        padding: 8px 0;
    }
}

@media screen and (min-width: 1440px) {
    .btnSaveEdit {}
}



.btnSaveEdit:focus {
     background-color: rgb(103, 103, 238); 
     background-color: rgb(21, 104, 8); 
} */
















h3{
    font-size: 18px;
    font-weight: 600;
        font-style: normal;
margin: 0;
}
.nameNumber {
    /* justify-content: space-between; */
    align-items: center;
    display: flex;
    gap: 10px;
   width: 800px;
    margin: 0;
margin-left: 2px;
    /* margin-right: 20px; */ 
   /* padding: 20px; */
}

@media screen and (min-width: 768px) {
    .nameNumber {
    margin-left: 20px;
    gap: 50px;
    
    }
}

@media screen and (min-width: 1440px) {
.nameNumber {
    gap: 100px;
}
}

.nameAvatar {
    display: none;
}
@media screen and (min-width: 768px) {
.nameAvatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 0.5px solid gray;
        background-color: rgb(103, 103, 238);
        color: rgb(200, 233, 235);
        font-size: 18px;
        padding: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}



.input {
     width: 236px; 
    padding-right: 3px;
    padding-left: 3px;
    border: 0.5px solid rgb(144, 144, 226);
    height: 36px;
    border-radius: 5px;
    font-size: 18px;
}
@media screen and (min-width: 768px) {
    .input {
    width: 500px;
    width: 280px;

        
    }
}

@media screen and (min-width: 1440px) {
    .input {margin-left: 20px;
    margin-right: 20px;width: 500px;}
}





.div_input{
    display: flex;
        flex-direction: column;
        padding-left: 3px;
}
@media screen and (min-width: 768px) {
    .div_input{flex-direction: row;
            
        
    }
}

@media screen and (min-width: 1440px) {
    .div_input{
        
    }
}

.div_button{display: flex;
    flex-direction: column;
    gap:3px;
 position: relative;
}
@media screen and (min-width: 768px) {
    .div_button {
        display: flex;
            flex-direction: row;
            align-items: baseline;
            gap:5px;


    }
}

@media screen and (min-width: 1440px) {
    .div_button { gap: 20px;
        flex-direction: row;}
}


.MuiButtonBase-root, .MuiButton-root  {
    padding: 8px 16px;


}

@media screen and (min-width: 768px) {
.MuiButtonBase-root .MuiButton-root .css-zhl00c-MuiButtonBase-root-MuiButton-root{
        padding: 8px 16px;


    }
}

@media screen and (min-width: 1440px) {
    .MuiButtonBase-root .MuiButton-root {
        padding: 8px 16px;
    }
}


.menu{
    display: flex;
    gap:3px;
    position: absolute;
    /* top: 564px;
    right: 3px; */
    flex-direction: column;
    /* top:50%;
    right: 50%; */
}
@media screen and (min-width: 768px) {
.menu{display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
      


    }
}

@media screen and (min-width: 1440px) {
.menu {
    gap: 20px;
        flex-direction: row;
    }
}