.list{
  
    /* margin-top: 20px;  */
    margin: 20px 0;
    /* width: 400px; */
 padding-left: 0;
    padding: 0px 0px;
    
}

@media screen and (min-width: 768px) {
    .list {
    padding: 0px 5px;
    }
}

@media screen and (min-width: 1440px) {
    .list {}
}